{% extends "layout.html" %}
{% block body %}
    <a href="{{ url_for('show_history') }}"><h2>Show History -></h2></a>

    <input type=text class="calc_input" name=calc_input value={{ op }}>
    <br>
    <input type=button class="calc_button" value="+" onclick="operator_click('add');">
    <input type=button class="calc_button" value="-" onclick="operator_click('sub');">
    <input type=button class="calc_button" value="*" onclick="operator_click('mul');">
    <input type=button class="calc_button" value="/" onclick="operator_click('truediv');">
    <br>
    <input type=button class="calc_button" value="mod" onclick="operator_click('mod');">
    <input type=button class="calc_button" value="div" onclick="operator_click('div');">
    <input type=button class="calc_button" value="^" onclick="operator_click('pow');">
    <input type=button class="calc_button" value="sqrt" onclick="operator_click('sqrt');">
    <br>
    <input type=button class="calc_button" value=">>" onclick="operator_click('rshift');">
    <input type=button class="calc_button" value="<<" onclick="operator_click('lshift');">
    <input type=button class="calc_button" value="CE" onclick="clear_all();">
    <input type=button class="calc_button" value="=" onclick="operator_click('');">
    <br>

    <form name=calc_params action="{{ url_for('calculator') }}" method=post>
        <br><br>
        op1: <input type=hidden name=op1 value={{ op }}><br>
        cur_oper: <input type=hidden name=cur_oper value={{ oper }}><br>
        op2: <input type=hidden name=op2><br>
        new_oper: <input type=hidden name=new_oper><br>
    </form>

    
    <script type="text/javascript">
            $('input[name="calc_input"]').select()
            var operator_click = function(operation) {
                var form = $('form[name="calc_params"]'),
                    op1 = $('input[name="op1"]'),
                    op2 = $('input[name="op2"]'),
                    cur_oper = $('input[name="cur_oper"]'),
                    new_oper = $('input[name="new_oper"]'),
                    calc_input = $('input[name="calc_input"]')

                if (operation == "sqrt") {
                    op1.val(calc_input.val())
                    cur_oper.val('pow')
                    op2.val('0.5')
                    new_oper.val('')
                    form.submit()
                } else if (cur_oper.val() == "") {
                    op1.val(calc_input.val())
                    cur_oper.val(operation)
                } else if (new_oper.val() == "") {
                    op2.val(calc_input.val())
                    new_oper.val(operation)
                    form.submit()
                }
                calc_input.focus()
                calc_input.select()
            }

            var clear_all = function(operation) {
                $('input[name="op1"]').val('')
                $('input[name="op2"]').val('')
                $('input[name="cur_oper"]').val('')
                $('input[name="new_oper"]').val('')
                $('input[name="calc_input"]').val('')
                $('input[name="calc_input"]').focus()
            }
    </script>
{% endblock %}